{% load widget_tweaks %}

{% for field in form %}
    <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {% if field.errors %}
            {{ field|add_class:"form-control is-invalid" }}
            <div class="invalid-feedback">
                {{ field.errors|join:", " }}
            </div>
        {% else %}
            {{ field|add_class:"form-control" }}
        {% endif %}
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
    </div>
{% endfor %} 