{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="onboarding-container">
    <div class="onboarding-icon">
        <i class="bi bi-calendar"></i>
    </div>
    <h1 class="onboarding-title">Sync Your Calendar</h1>
    <p class="onboarding-text">Grant access to your Google Calendar to sync events.</p>
    
    <a href="{% url 'socialaccount_connections' %}?process=connect&scope=calendar&next={% url 'onboarding:social_connect' %}" class="google-button">
        <img src="{% static 'images/google-icon.svg' %}" alt="Google" class="google-icon" width="20">
        Grant Calendar Access
    </a>
    
    <a href="{% url 'onboarding:social_connect' %}" class="skip-link">Skip for now</a>
</div>
{% endblock %} 